# OS X
*/.DS_Store
.DS_Store

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini

# Linux
.directory

# Editor
*.swp

# npm
node_modules
*.log
*.gz

# IDE
.idea/

# Coveralls
coverage

# Benchmarking
benchmarks/graphs

